@import url('https://fonts.googleapis.com/css2?family=Damion&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Google Font */
  --font-Poppins: "Poppins", "sans-serif";
  --font-Damion: "Damion", "cursive";

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* Color */
  --color-ps-primary: #80B500;
  --color-heading: #071C1F;
  --color-body: #6C757D;
  --color-dark-04: #DFE0E4;
  --color-card: #F7F5EB;

  /* Shadow */
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);
}

html,
body {
  @apply scroll-smooth
}

body {
  @apply font-Poppins text-base font-normal relative w-full text-body bg-white overflow-x-hidden
}

p {
  @apply leading-[1.8];
}

::selection {
  @apply text-white bg-ps-primary;
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

/* ====================== Buttons ====================== */
.button {
  @apply w-max inline-block text-base font-medium py-3 px-8 lg:py-4 lg:px-10 rounded-md cursor-pointer text-white bg-ps-primary outline-none transition-all duration-300 focus:outline-0 hover:shadow-btn-inner;
}

.button-sm {
  @apply py-3 px-8 lg:py-3.5 lg:px-9
}

/* [ Header ] */
/*================================================== */
.header-nav ul {
  @apply flex items-center justify-center
}

.header-nav ul a {
  @apply flex items-center px-3.5 font-medium text-heading h-[90px] hover:text-ps-primary duration-300;
}

.header-nav ul a.active {
  @apply text-ps-primary relative before:content-[''] before:w-[90%] before:h-0.5 before:absolute before:-translate-x-[50%] before:left-[50%] before:mt-6 before:bg-linear-to-r before:from-ps-primary/0 before:via-ps-primary before:to-ps-primary/0;
}

/* [ Hero Section ] */
/*================================================== */
.hero {
  background: linear-gradient(90deg, rgba(7, 28, 31, 0.78) 0%, rgba(7, 28, 31, 0.04) 100%), url(./assets/hero-bg-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}