@import url('https://fonts.googleapis.com/css2?family=Damion&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Google Font */
  --font-Poppins: "Poppins", "sans-serif";
  --font-Damion: "Damion", "cursive";

  /* Breakpoints */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;

  /* Color */
  --color-ps-primary: #80B500;
  --color-heading: #071C1F;
  --color-body: #6C757D;
  --color-dark-04: #DFE0E4;
  --color-card: #F7F5EB;

  /* Shadow */
  --shadow-btn-inner: inset 0px 0px 122px rgba(0, 0, 0, 0.22);
}

html,
body {
  @apply scroll-smooth
}

body {
  @apply font-Poppins text-base font-normal relative w-full text-body bg-white overflow-x-hidden
}

p {
  @apply leading-[1.8];
}

::selection {
  @apply text-white bg-ps-primary;
}

.container {
  @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

/* ========== Loader ========== */
.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#000 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }

  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%
  }

  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%
  }

  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%
  }

  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%
  }

  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }
}

/* ====================== Buttons ====================== */
.button {
  @apply inline-block text-base font-medium py-3 px-8 lg:py-4 lg:px-10 rounded-md cursor-pointer text-white bg-ps-primary outline-none transition-all duration-300 focus:outline-0 hover:shadow-btn-inner;
}

.button-sm {
  @apply py-3 px-8 lg:py-3.5 lg:px-9
}

.button:disabled {
  @apply shadow-btn-inner text-white/80 cursor-default;
}

.action-btn:disabled {
  @apply bg-gray-300 border-gray-300 text-gray-400 cursor-default
}

/* [ Table ] */
/*================================================== */
thead {
  @apply bg-gray-100
}

thead th {
  @apply text-heading font-semibold p-4
}

table td {
  @apply py-4
}

/* [ Section Banner ] */
/*================================================== */
.section-banner ul li {
  @apply inline-block
}

.section-banner ul li:not(:last-child):after {
  @apply content-[''] mx-2.5 inline-block w-1.5 h-1.5 rounded-full align-middle bg-ps-primary
}

/* [ Header ] */
/*================================================== */
.header-nav ul {
  @apply flex items-center justify-center
}

.header-nav ul a {
  @apply flex items-center px-3.5 font-medium text-heading h-[90px] hover:text-ps-primary duration-300;
}

.header-nav ul a.active {
  @apply text-ps-primary relative before:content-[''] before:w-[90%] before:h-0.5 before:absolute before:-translate-x-[50%] before:left-[50%] before:mt-6 before:bg-linear-to-r before:from-ps-primary/0 before:via-ps-primary before:to-ps-primary/0;
}

/* [ Hero Section ] */
/*================================================== */
.hero {
  background: linear-gradient(90deg, rgba(7, 28, 31, 0.78) 0%, rgba(7, 28, 31, 0.04) 100%), url(./assets/hero-bg-01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* [ OurPartners ] */
/*================================================== */
.rfm-marquee-container,
.rfm-marquee,
.rfm-initial-child-container {
  @apply gap-14
}

.rfm-marquee img,
.rfm-initial-child-container img {
  @apply saturate-[0] hover:saturate-100 duration-300
}

/* [ Blog ] */
/*================================================== */
.blog-meta li {
  @apply inline-block
}

/* [ OurPartners ] */
/*================================================== */
.blog-meta li:not(:last-child):after {
  @apply content-[''] ml-4 mr-4 inline-block w-1 h-1 rounded-full bg-body align-middle;
}

/* [ Footer ] */
/*================================================== */
.footer-menu li {
  @apply relative mb-0
}

.footer-menu li:not(:last-child)::before {
  @apply content-['|'] absolute top-0 -right-3.5
}

.footer-menu li a:hover {
  @apply text-ps-primary duration-300
}

/* [ Login & Register ] */
/*================================================== */
.l-r-b {
  width: 100%;
}

.or-social {
  @apply before:content-[''] before:w-[50%] before:absolute before:h-px before:bg-dark-04 before:-left-6 before:top-[50%] after:content-[''] after:w-[50%] after:absolute after:h-px after:bg-dark-04 after:-right-6 after:top-[50%];
}